.internal-embed .markdown-embed {
    padding: 0;
    border-left: none;
}

.internal-embed .markdown-embed .markdown-preview-view .markdown-preview-sizer {
    max-width: 100% !important;
}

.internal-embed .markdown-embed .markdown-embed-title {
    font-variant: var(--h2-variant);
    letter-spacing: -.02em;
    line-height: 1.3;
    font-size: var(--h2);
    color: var(--h2-color);
    font-weight: var(--h2-weight);
    font-style: var(--h2-style);
}

.file-embed-link svg, .markdown-embed-link svg{
    opacity: 1;
}
